@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Raleway";
    text-align: center;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main-heading {
    font-size: 80px;
    padding: 10px;
}

.main-container {
    height: 320px;
    width: 480px;
    padding: 40px 60px;
    background-color: rgb(252, 191, 235);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    
}

.game-info {
    grid-area: 1/ 1/ span 2/ span 3;
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.versus {
    font-size: 30px;
}

.gamer-one, .gamer-two {
    height: 50px;
    width: 200px;
    font-size: 16px;
    font-weight: 400;
}

.play-btn {
    grid-area: 3/ 2/ span 1/ span 1;
    height: 50px;
    width: 150px;
    border: 0.5px solid gray;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(79, 230, 208);
    color: white;
}




